// Fonts PAQTech
$font-header-paqtech: 'Bowlby One SC';
$font-title-paqtech: 'PAQTech-black';
$font-subtitle-paqtech: 'Montserrat';
$font-texts-paqtech: 'PAQTech-light';


// Colors
$main-color: #00A3DD;
$comp-color: #2f2e2e;
$third-color: #f7f7f7;